html {
  font-family: 'IBM Plex Sans JP', sans-serif;
  color: #1e1e1e;
  font-size: 16px;
  background-color: #edf2f7;
}

h1 {
  margin: 1em auto;
  width: 90%;
  text-align: center;
  font-size: 200%;
}

.content {
  width: 85%;
  margin: 20px auto;
  padding: 15px 35px;
  background-color: white;
  border-radius: 10px;
}

.horizon {
  display: block;
  height: 1px;
  width: 100%;
  margin: 2em auto;
  background-color: #ebf0f5;
}

.note ul {
  padding-inline-start: 20px;
}


@media screen and (width >= 1035px) {
  .content {
    width: 900px;
  }
}

@media screen and (width <= 840px) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 150%;
  }

  .content {
    width: 85%;
  }
}

@media screen and (width <= 520px) {
  html {
    font-size: 12px;
  }

  .content {
    width: 90%;
    padding: 15px;
  }
}
