@use '@/style/media';

html {
  font-family: 'IBM Plex Sans JP', sans-serif;
  color: #1e1e1e;
  font-size: 100%;
  background-color: #edf2f7;

  @include media.size(md) {
    font-size: 87.5%;
  }

  @include media.size(sm) {
    font-size: 75%;
  }
}

a,
a:visited,
a:hover {
  color: inherit;
}
